

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600;700&display=swap');
*{box-sizing: border-box;}
body{ color: #191826; margin:0; padding: 0; font-family: 'IBM Plex Sans', sans-serif; background-image: url(./images/bg-pattern-1.svg), url(./images/bg-main-desktop.png);
  background-repeat: no-repeat;
  background-position: right top, left top;
  background-size: 312px 468px, cover;}
a{ text-decoration: none; color: #191826}

.landing_wrap{  margin: 0 auto; max-width: 1440px;}
.content_wrap{ padding: 0 165px;}
.title{ padding-top: 40px; text-align: left;}
.title span{ display: block; font-size: 20px; font-weight: bold;}
.title h1{ padding-top: 127px; font-size: 88px; line-height: 1;
margin: 0;}  
.title p{ padding: 40px 0 0 0; font-size: 20px; margin: 0;} 
.content{ background: #000 url(./images/Group\ 8\ \(1\).png)no-repeat center/contain; max-width: 1110px; height: 600px;  margin: 0 auto; display: flex; color:#fff; margin-top: 320px; padding: 58px;}
.content .phone{ margin-top: -265px; margin-left: 102px;}
.content .phone img{ width: 312px; height: 642px;}
.content .premium{ padding: 58px 59px 0 54px; background-color: #FA7453; border-radius: 12px; margin: 60px 0 0 155px; height: 625px;}
.content .premium .title{ font-size: 40px; font-weight: 700; padding-top: 0;}
.content .premium .pre_content {line-height: 34px; font-size: 20px; padding: 20px 0 30px 0;}
.content .premium span{ font-size: 55px; font-weight: 700; display: inline-block; position: relative; padding-bottom: 46px;}
.content .premium span:before{ content: "/month"; position: absolute; top:23px; left: 80px; font-size: 20px; font-weight: 400;}
.content .premium > a{ display: inline-block; color: #FCFAF9; font-size: 18px; font-weight: 700; margin-bottom: 16px;background-color:#191826; border-radius: 12px; padding: 19px 95px; width: 333px; text-align: center; position: relative; letter-spacing: -0.18px; transition: all 0.3s;}
.content .premium .ios p{ margin: 0; }
.content .premium .ios:hover { background-color: #66E2DC;;}
.content .premium .andro{ padding: 19px 76px 19px 100px; background-color: #FCFAF9; color: #191826; margin-bottom: 58px;}
.content .premium .andro:hover{ background-color: #FFB964;}
.content .premium a:before{ content: ""; position: absolute; top: 17px; left: 80px; background: url(./images/icon-apple.svg)no-repeat; width: 18px; height: 20px; }
.content .premium a:last-child:before{ content: ""; position: absolute; top: 18px; left: 77px; background: url(./images/icon-android.svg)no-repeat; width: 18px; height: 20px; }
.footer{ margin-top: 200px; display: flex; align-items: flex-start; justify-content: flex-start;}
.footer .logo{flex: 24.454%; }
.footer .footer_content{ font-size: 16px; flex: 64.545%; }
.footer .footer_content p{ margin: 0; line-height: 26px;}
.footer .footer_content span{ font-weight: bold;}
.footer .sns{ align-self: center; flex: 14%; font-size: 22px; color: #191826; width: 110px; text-align: center;}
.footer .sns a:nth-child(2){ margin: 0 20px;}
.footer .sns a{ transition: all 0.3s;}
.footer .sns a:hover { color: #FA7453; }

@media screen and (max-width: 768px){ 
  
  .landing_wrap{ width: 100%;}
  .content_wrap { padding: 0 40px;}
  .title { max-width: 520px;}
  .title h1 {font-size: 64px; padding-top: 95px;}
  .title p { font-size: 18px;}

  body{ color: #191826; margin:0; padding: 0; font-family: 'IBM Plex Sans', sans-serif; background-image: url(./images/bg-pattern-1.svg),url(./images/bg-main-desktop.png);
    background-repeat: no-repeat;
    background-position: right top, left top;
    background-size: 266px 400px, 100%;}
  
  .content{ background-image: url(./images/Group\ 8\ \(1\).png);background-repeat: no-repeat;  background-color: #191826; 
    background-size: 280px 420px; background-position: right 165px top; margin-top: 320px; padding: 0; display: block; position: relative; }
  .content .phone{ margin-top: -70px; margin-left: 0;}
  .content .phone img{ width: 270px; height: 556px; margin-top: -156px; margin-left: 64px;}
  .content .premium{ padding: 40px; width: 400px; position: absolute; top: 72px; left: 230px; height: 546px;}
  .content .premium .title{ font-size: 32px; font-weight: 700; padding-top: 0;}
  .content .premium .pre_content { font-size: 20px; padding: 15px 0 20px 0; line-height: 28px;}
  .content .premium span{ font-size: 55px; font-weight: 700; display: inline-block; position: relative; padding-bottom: 20px;}
  .content .premium span:before{ content: "/month"; position: absolute; top:23px; left: 80px; font-size: 20px; font-weight: 400;}
  .content .premium > a{ display: inline-block; color: #FCFAF9; font-size: 18px; font-weight: 700; margin-bottom: 16px;background-color:#191826; border-radius: 12px; padding: 19px 84px; width: 100%;}
  .content .premium .ios p{ margin: 0; }
  .content .premium .ios:hover { background-color: #66E2DC;;}
  .content .premium .andro{ padding: 19px 76px 19px 100px; background-color: #FCFAF9; color: #191826; margin-bottom: 58px;}
  .content .premium .andro:hover{ background-color: #FFB964;}
  .content .premium a:before{ content: ""; position: absolute; top: 17px; left: 70px; background: url(./images/icon-apple.svg)no-repeat; width: 18px; height: 20px; }
  .content .premium a:last-child{ padding: 19px 70px; }
  .content .premium a:last-child:before{ content: ""; position: absolute; top: 18px; left: 50px; background: url(./images/icon-android.svg)no-repeat; width: 18px; height: 20px; }
  .footer{ margin-top: 167px; display: block; }
  .footer .logo{ margin-bottom: 30px;}
  .footer .footer_content{ font-size: 16px; float: left;}
  .footer .footer_content p{ margin: 0; line-height: 26px;}
  .footer .footer_content span{ font-weight: bold;}
  .footer .sns{ float: right; font-size: 22px; color: #191826; width: 111px; text-align: center;}
  .footer .sns a:nth-child(2){ margin: 0 20px;}
  .footer .sns a{ transition: all 0.3s;}
  .footer .sns a:hover { color: #FA7453; }
  .content .premium { margin: 60px 0 0 0;}
}
@media screen and ( max-width: 375px){

  .landing_wrap{ width: 100%;}
  .content_wrap { padding: 0;}
  .title { max-width: 327px; padding: 0 24px; margin-right: 0;}
  .title h1 {font-size: 40px; padding-top: 64px; line-height: 48px;}
  .title p { font-size: 16px; padding: 25px 0 0 0; line-height: 26px;}
  .title span { font-size: 30px; padding-top: 40px;}
 
  body{ color: #191826; margin:0; padding: 0; font-family: 'IBM Plex Sans', sans-serif; background-image:url(./images/bg-main-desktop.png);
    background-repeat: no-repeat; background-position: left top; background-size: 100%;}
  .content{ background-image: url(./images/Group\ 8\ \(1\).png);background-repeat: no-repeat;  background-color: #191826; background-size: 300%; background-position: center top; padding: 0; height: 870px;}
  .content .phone{ margin-top: -150px; margin-left: 0; text-align: center;}
  .content .phone img{ width: 210px; height: 430px; margin-top: -110px; margin-left: 0; display: inline-block;}
  .content .premium{ padding: 36px; width: 100%; position: static; top: 48px;  margin-top: 40px; height: 546px;}
  .content .premium .title{ font-size: 32px; font-weight: 700; padding: 0;}
  .content .premium .pre_content { font-size: 20px; padding: 15px 0 20px 0; line-height: 28px;}
  .content .premium > a{ padding: 19px 47px; width: 100%;}
  .content .premium .ios:hover { background-color: #66E2DC;;}
  .content .premium .andro{ padding: 19px 76px 19px 100px; background-color: #FCFAF9; color: #191826; margin-bottom: 58px;}
  .content .premium .andro:hover{ background-color: #FFB964;}
  .content .premium a:before{  left: 59px; }
  .content .premium a:last-child{ padding: 19px 47px;}
  .content .premium a:last-child:before{ left: 42px;}
  .footer{ margin-top: 64px; padding: 0 24px;}
  .footer .footer_content{ font-size: 16px; float: none; }
  .footer .footer_content p{ margin: 0; line-height: 26px;}
  .footer .sns{ float: none; padding: 64px 0;}
  .footer .sns a:nth-child(2){ margin: 0 20px;}
  .footer .sns a{ transition: all 0.3s;}
  .footer .sns a:hover { color: #FA7453; }
  .content .premium { margin: 0 0 0 0;}




}